.todo-item {
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 0 4px #818181;
  display: flex;
  justify-content: space-between;
}

.todo-item__input:checked + .todo-item__span {
  color: #c5c5c5;
}

.todo-item__remove {
  height: 1em;
  cursor: pointer;
}
